/* Custom CSS for your KeyDown presentation here */

/* Uncomment to turn off deck.js navigation */
/*.deck-prev-link,*/
/*.deck-next-link {*/
    /*display: none;*/
/*}*/

/* Uncomment to turn off deck.js status */
/*.deck-status {*/
    /*display: none;*/
/*}*/

.slide.intro {
  background-size: cover;
  background-image: url(../images/sauvabelin.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000;
}

.slide.intro h1 {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 5%;
  top: 20%;
  font-weight: normal;
  color: white;
  width: 100%;
}

.slide.left content {
  -webkit-box-align: left;
  -moz-box-align: left;
  -ms-box-align: left;
  box-align: left;
  -webkit-box-pack: left;
  -moz-box-pack: left;
  -ms-box-pack: left;
  box-pack: left;
}



.slide.intro h4 {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  color: #aaa;
  position: absolute;
  bottom: 5%;
  left: 1%;
}

